{{- partial "_main.hugo" . }}

{{ if .PrevInSection }}
  <a href="{{ .PrevInSection.RelPermalink }}" class="nav-arrow prev-arrow">← Previous</a>
{{ end }}

{{ if .NextInSection }}
  <a href="{{ .NextInSection.RelPermalink }}" class="nav-arrow next-arrow">Next →</a>
{{ end }}
