@import "theme-zen-light.css";

:root {
    --CODE-theme: zen-light;
    --MENU-HEADER-BG-color: #003366; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #003366; /*Color of menu header border */
    --MENU-SEARCH-color: rgb(0, 25, 58); /* text and icon color of search box */
    --MENU-SEARCH-BG-color: rgba( 255, 255, 255, 1 ); /* background color of search box */
    --MENU-HOME-LINK-color: rgb(255, 255, 255); /* home button color if configured */
    --INTERNAL-MENU-SECTIONS-BG-color: rgb(255, 255, 255);
}

body {
  justify-content: flex-start !important;
  background-color: white;
}
.footerFooter {
    font-size: .8125rem;
    padding-top: 2rem;
    padding-bottom: .75rem;
    padding-left: .75rem;
    text-align: left;
}
.nav-arrow {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .nav-arrow:hover {
    background-color: #007bff;
    color: #ffffff;
  }
  .share-links {
    margin-top: 20px;
  }
  .share-links p {
    font-weight: bold;
  }
  .share-links a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    background-color: #2542e9;
    text-decoration: none;
    border-radius: 5px;
    color: white;
  }
  .share-links a:hover {
    background-color: #dcdcdc;
  }
  