@import "theme-zen-dark.css";

:root {
    --CODE-theme: zen-dark;
    --MENU-HEADER-BG-color: #003366; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #003366; /* Color of menu header border */
}

body {
  justify-content: flex-start !important;
}
.content h1 {
    color: rgb(173, 216, 230); /* Light blue color */
}

.footerFooter {
    font-size: .8125rem;
    padding-top: 2rem;
    padding-bottom: .75rem;
    padding-left: .75rem;
    text-align: left;
}
.nav-arrow {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .nav-arrow:hover {
    background-color: #007bff;
    color: #ffffff;
  }
  .share-links {
    margin-top: 20px;
  }
  .share-links p {
    font-weight: bold;
  }
  .share-links a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    background-color: #6f81e7;
    text-decoration: none;
    border-radius: 5px;
    color: white;
  }
  .share-links a:hover {
    background-color: #dcdcdc;
  }
  
  