<hr class="padding default-animation footerLangSwitch footerVariantSwitch footerVisitedLinks footerFooter showVariantSwitch showFooter">

<p style="color: rgb(27, 103, 245); font-size: 20px; "> Alta3's Blog Network </p>
<ul>
<li> <a href="https://medium.com/" alt="Medium" target="_blank" rel="noreferrer">📘 Medium</a> </li>
<li><a href="https://stuartfeeser.com/" alt="Stu" target="_blank" rel="noreferrer">📘 Stuart Feeser Blog</a></li>
<li><a href="https://penguinlogic.io/" alt="Chad" target="_blank" rel="noreferrer">📘 Penguin Logic</a></li>
<li><a href="https://rattlin.blog/" alt="AJ" target="_blank" rel="noreferrer">📘 The Rattlin Blog</a></li>
<li><a href="https://medium.com/@joehutcheson" alt="Hutch" target="_blank" rel="noreferrer">📘 Joe Hutcheson Blog</a></li>
</ul>

<hr class="padding default-animation footerLangSwitch footerVariantSwitch footerVisitedLinks footerFooter showVariantSwitch showFooter">


<p>Built with <a href="https://github.com/McShelby/hugo-theme-relearn" title="love"><i class="fas fa-heart"></i></a> by <a href="https://gohugo.io/">Hugo</a></p>


