{{- /* based on Hugo 0.119.0 _internal/twitter_cardss.html but with modified title */}}
{{- $format := partial "get-format.hugo" . }}
{{- $outputFormat := partial "output-format.hugo" (dict "page" . "format" $format) }}
{{- $page := . }}
{{- $title := .Title }}
{{- if eq $outputFormat "searchpage" }}
  {{- $title = T "Search" }}
{{- else if eq .Kind "taxonomy" }}
  {{- $title = default (default .Data.Plural (i18n .Data.Plural)) .Params.Title }}
{{- else if eq .Kind "term" }}
  {{- $taxonomy_page := .Site.GetPage .Data.Plural }}
  {{- $title = default (default .Data.Singular (i18n .Data.Singular)) $taxonomy_page.Params.SingularTitle }}
  {{- $title = printf "%s %s %s" (default (humanize .Data.Term | strings.Title) .Title) (default "::" .Site.Params.titleSeparator) $title }}
{{- end }}
{{- if and $title .Site.Title (not (eq $title .Site.Title)) }}
  {{- $title = printf "%s %s %s" $title (default "::" .Site.Params.titleSeparator) .Site.Title }}
{{- end }}
{{- with $.Params.images }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ index . 0 | absURL }}">
{{- else }}
  {{- $images := $.Resources.ByType "image" }}
  {{- $featured := $images.GetMatch "*feature*" }}
  {{- if not $featured }}
    {{- $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}
  {{- end }}
  {{- with $featured }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ $featured.Permalink }}">
  {{- else }}
    {{- with $.Site.Params.images }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ index . 0 | absURL }}">
    {{- else }}
    <meta name="twitter:card" content="summary">
    {{- end }}
  {{- end }}
{{- end }}
    <meta name="twitter:title" content="{{ $title }}">
    <meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

    {{- $twitterSite := "" }}
    {{- with site.Params.social.twitter }}
      {{- $twitterSite = . }}
    {{- else }}
      {{- warnf "Twitter handle not set in site.Params.social.twitter" }}
    {{- end }}


{{- with $twitterSite }}
    <meta name="twitter:site" content="@{{ . }}">
{{- end }}